.generator-widget {
	width: 400px;
	margin: 1em auto;
	background: rgba(0,0,0,0.2);
}

.generator-widget .password-generator-form {
	padding: 0 1em 1em 1em;
}

.generator-widget-title {
	background: rgba(0,0,0,0.2);
	text-align: center;
}

.generator-widget-title h3 {
	padding: 0.3em 0;
}

.generator-widget label {
	display: block;
}

.generator-widget input[type="text"] {
	width: 60px;
	margin: 0 0 1em 0;
}

.generator-widget input[type="submit"] {
	font-size: 1.4em;
	margin: 1em auto;
	padding: 1em 2em;
	display: block;
}

.generator-widget .errors.error-list {
	background: orange;
	display: inline-block;
	margin: 0 1em 1em;
}

.generator-widget .errors.error-list .error {
	background: red;
	font-size: 0.8em;
}

.generator-widget .generatedPassword {
	text-align: center;
}

.generator-widget .generatedPassword .password {
	font-size: 2em;
	display: block;
	max-width: 100%;
	white-space: pre-line;
	word-wrap: break-word;
}

.generator-widget .generatedPassword .small {
	font-size: 0.7em;
	font-style: italic;
}
